@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* CONTAINER PRINCIPAL */
.check-out {
    max-width: 40em;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    border-top: 5px solid #DE1AB8;
    border-radius: 2px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.167);
}


/* DIV CHECKOUT */
.check-out-card {
    padding: 2em;
    background-color: #fff;
}
.check-out-card h1 {
    font-size: 1.2em;
    margin-top: 2px;
}
.check-out-card hr {
    border-color: rgba(0, 0, 0, 0.094);
}
.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total p {
    font-size: 1em;
    font-weight: bold;
}


/* DIV CLIENT CARD */
.client-card {
    padding: 2em;
}
.client-card h1 {
    font-size: 1.2em;
}
.client-card p {
    font-size: .8em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.514);
}
.client-card div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* NOME */
.nome {
    width: 100%;
}
.nome input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.nome input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}

/* CPF */
.email {
    width: 60%;
}
.email input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.email input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}

/* EMAIL */
.cpf {
    width: 40%;
    padding-left: 10px;
}
.cpf input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.cpf input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}


/* DIV ADDRESS CARD */
.address-card {
    padding: 2em;
}
.address-card h1 {
    font-size: 1.2em;
}
.address-card p {
    font-size: .8em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.514);
}
.address-card div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* CEP */
.cep {
    width: 50%;
    padding-left: 10px;
}
.cep input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.cep input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}

/* RUA */
.estado {
    width: 50%;
    padding-left: 10px;
}
.estado input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.estado input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}

/* BAiRRO */
.bairro {
    width: 50%;
    padding-left: 10px;
}
.bairro input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.bairro input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}

/* CIDADE */
.cidade {
    width: 50%;
    padding-left: 10px;
}
.cidade input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.cidade input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}

/* ESTADO */
.rua {
    width: 100%;
    padding-left: 10px;
}
.rua input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.rua input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}

/* DIV CREDIT CARD DETAILS */
.credit-card {
    padding: 2em;
}
.credit-card h1 {
    font-size: 1.2em;
}


/* FORM */
.check-out form {
    justify-content: space-around;
    flex-wrap: wrap;
}
.check-out form p {
    font-size: .8em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.514);
}
.check-out form div {
    display: flex;
    justify-content: space-around;
}


/* CARD HOLDER */
.card-holder {
    width: 55%;
}
.card-holder input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.card-holder input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}



/* EXPIRATION DATE */
.expiration-date {
    width: 45%;
    text-align: right;
}
.expiration-date p {
    padding-right: 9em;
}
.expiration-date .mm-yy {
    justify-content: right;
}
.expiration-date .mm-yy input {
    width: 40%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.expiration-date .mm-yy span {
    width: 1em;
    text-align: center;
    margin-top: .4em;
}
.expiration-date .mm-yy input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}


/* CARD-NUMBER */
.card-number {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.card-number input {
    width: 100%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.card-number input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}


/* CVC */
.cvc {
    flex-direction: column;
    width: 40%;
    text-align: right;
}
.cvc p {
    padding-right: 13.4em;
}
.cvc .cvc-content {
    justify-content: right;
}
.cvc .cvc-content input {
    width: 85%;
    padding: .7em;
    border: 1px solid rgba(0, 0, 0, 0.241);
    border-radius: 4px;
    transition: .3s;
}
.cvc .cvc-content input:focus {
    outline: none;
    border-color: #DE1AB8;
    box-shadow: 0px 0px 6px 0px #DE1AB8;
}

/* BUTTON */
.check-out .btn button {
    width: 100%;
    margin-top: 3em;
    padding: 1.2em;

    background-color: #DE1AB8;
    color: #fff;

    font-size: 1em;
    font-weight: bold;

    border: none;
    border-radius: 4px;

    cursor: pointer;
    transition: .3s;
}

.check-out .btn button:hover {
    background-color: #de1ab7b4;
}

@media(max-width: 650px) {
    .check-out form .div-1, 
    .check-out form .div-2 {
        flex-direction: column;
    }

    /* CARD HOLDER */
    .card-holder {
        width: 100%;
    }
    .card-holder input {
        width: 100%;
    }
    
    /* EXPIRATION DATE */
    .expiration-date {
        width: 100%;
    }
    .expiration-date p {
        text-align: left;
    }
    .expiration-date .mm-yy input {
        width: 100%;
    }
    .expiration-date .mm-yy span {
        width: 3em;
        text-align: center;
    }
    
    /* CARD NUMBER */
    .card-number {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card-number input {
        width: 100%;
    }
    
    /* CVC */
    .cvc {
        width: 100%;
        text-align: left;
    }

    .cvc .cvc-content input {
        width: 100%;
    }

}